#  Description: This file contains the environment variables that are used in the application.
#  Version: 1.0
# BASE_PATH is the github repo name assuming the app is deployed via github pages, for the community it should probably be /website
BASE_PATH=/Software-Engineering-Community 
NODEMAILER_EMAIL=youremail@gmail.com
NODEMAILER_PASSWORD=*******(App password)